body 
{
    background-color: black;
    color: white;
}

form input
{
    background-color: rgb(196, 212, 221);
}

header
{
    text-align: center;
    background-image: url(./images/header-photo.jpeg);
    padding: 5em;
}

footer
{
    background-image: url(./images/footer-photo.jpeg);
    padding: 10em;
}

button
{
    margin: 0.75em;
}

.book-operation-form
{
    display: none;
}

.text-align-center
{
    text-align: center;
}

#book-list-div ul
{
    list-style-type: none;
}
