body {
    background-color: black;
    color: white;
    margin: 0;
}

main {
    min-height: calc(100vh - 240px - 320px);
    background-image: linear-gradient(rgb(14, 14, 13), rgb(9, 5, 29), rgb(14, 14, 13));
}

label {
    display: inline-block;
    margin-top: 10px;
}

form input {
    background-color: rgb(196, 212, 221);
}

header {
    text-align: center;
    background-image: url(./images/header-photo.jpeg);
    padding: 5em;
}

footer {
    background-image: url(./images/footer-photo.jpeg);
    padding: 10em;
}

button {
    margin: 0.75em;
    min-width: 100px;
    min-height: 30px;
    cursor: pointer;
}

.book-operation-form {
    display: none;
}

.text-align-center {
    text-align: center;
}

#book-list-div ul {
    list-style-type: none;
}

#choose-operation button {
    background-color: rgb(83, 66, 114);
    border: none;
    color: white;
    text-decoration: none;
    display: inline-block;
}
