body 
{
    background-color: black;
    color: gray;
}

form input
{
    background-color: rgb(196, 212, 221);
}

.book-operation-form {
    display: none;
}

header, section {
    text-align: center;
}

#book-list-div {
    text-align: center;
}

#book-list-div ul {
    list-style-type: none;
}